<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Your bean definitions go here -->





<bean id="airtel" class="com.application.ioc_demo.Airtel"></bean>

<bean id="vodafon1" class="com.application.ioc_demo.Vodafone"></bean>
<bean id="vodafon" class="com.application.ioc_demo.Vodafone"></bean>
<bean id="vo3dafone" class="com.application.ioc_demo.Vodafone"></bean>


</beans>